.game-table-cells {
    transform: skew(45deg);
    text-align: center;
    border-radius: 0;
    border: 2px solid black;
}

.game-table-cells:focus {
    background-color: orange;
}


/* .player-x-cell {

    border: 2px solid dodgerblue;
}
.player-o-cell {

    border: 2px solid darkred;
} */

.player-x-cell:focus {
    background-color: dodgerblue;
}

.player-o-cell:focus {
    background-color: #ff0000;
}

.game-border-card {
    width: 100%;
    margin: auto;
    padding-left: 10%;
}

.game-deck-card {
    background-color: white;
    color: black;
    /*max-width: 18rem;*/
    margin: auto;
    margin-top: 2%;
    border-radius: 5px;
    width: 100%;
}

.animate-new-move {
    -webkit-transition: opacity 0.7s ease-out;
    transition: opacity 0.7s ease-out;
}