.competition-menu-body{
    border-left: 1px solid black;
    border-radius: 5px;
}

.single-league-card {
    color: black;
    /*max-width: 18rem;*/
    margin: auto;
    margin-top: 2%;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.expand-opacity-animation{
    opacity: 1;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}
.expand-opacity-animation:hover{
    opacity: 0.5;
    color: darkgreen;
}

 .single-league-card:hover{
    cursor: pointer;
    border: 1px solid;
} 

